<!doctype html>
<html>
<head>
    <title>Basketball Training Form</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4f3c245195.js" crossorigin="anonymous"></script>
    

</head>
<body>
    <header>
        <nav>
          <ul class="navLinksContainer">
            <li><a class="navLinks" href="/training">Training Guide</a></li>
            <li><a class="navLinks" href="/profile">Workoutlog</a></li>
            <li><a class="navLinks" href="/coachList">Browse Coaches</a></li>
            <li><a class="navLinks" href="/performance">Athlete Journal</a></li>
            <li><a class="navLinks" href="/logout">Log Out</a></li>
          </ul>
        </nav>
      </header>
<div class="container">

   

  

    <div>
        <canvas id="myChart"></canvas>
      </div>



    <div>
        <canvas id="myDoughnutChart"></canvas>
      </div>
      
      
    

    
        
          

        


        
       
        
          
          

         
            
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="chart.js"></script>



</body>
</html>
