<!doctype html>
<html>
<head>
    <title>Basketball Training Form</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4f3c245195.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Coach Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

</div>



<script src="main.js"></script>

</body>
</html>
